[0] S ::= [33] EXPRESSION
[1] EXPRESSION ::= [34] ARG
[2] EXPRESSION ::= [35] FUNCTION_NAME [36] CALL
[3] EXPRESSIONS ::= [37] )
[4] EXPRESSIONS ::= [38] EXPRESSION [39] LIST_OF_EXPRESSIONS
[5] LIST_OF_EXPRESSIONS ::= [40] , [41] EXPRESSION [42] LIST_OF_EXPRESSIONS
[6] LIST_OF_EXPRESSIONS ::= [43] )
[7] CALL ::= [44] ( [45] EXPRESSIONS [46] )
[8] CALL ::= [47] eps
[9] ARG ::= [48] NUMERIC 
[10] ARG ::= [49] BOOL 
[11] SINGLE_CALL ::= [50] ( [51] EXPRESSION [52] )
[12] SINGLE_CALL ::= [53] eps
[13] DOUBLE_CALL ::= [54] ( [55] EXPRESSION [56] , [57] EXPRESSION [58] )
[14] DOUBLE_CALL ::= [59] eps
[15] TRIPLET_CALL ::= [60] ( [61] EXPRESSION [62] , [63] EXPRESSION [64] , [65] EXPRESSION [66] )
[16] TRIPLET_CALL ::= [67] eps
[17] EXPRESSION ::= [68] resolve [69] RESOLVE_CALL
[18] RESOLVE_CALL ::= [70] ( [71] FUNCTION_NAME [72] , [73] EXPRESSION [74] )
[19] RESOLVE_CALL ::= [75] eps
[20] EXPRESSION ::= [76] if [77] TRIPLET_CALL
[21] EXPRESSION ::= [78] foreach [79] DOUBLE_CALL
[22] EXPRESSION ::= [80] equal [81] DOUBLE_CALL
[23] EXPRESSION ::= [82] = [83] DOUBLE_CALL
[24] EXPRESSION ::= [84] > [85] DOUBLE_CALL
[25] EXPRESSION ::= [86] < [87] DOUBLE_CALL
[26] EXPRESSION ::= [88] & [89] DOUBLE_CALL
[27] EXPRESSION ::= [90] | [91] DOUBLE_CALL
[28] EXPRESSION ::= [92] ! [93] SINGLE_CALL
[29] EXPRESSION ::= [94] - [95] DOUBLE_CALL
[30] EXPRESSION ::= [96] + [97] DOUBLE_CALL
[31] EXPRESSION ::= [98] / [99] DOUBLE_CALL
[32] EXPRESSION ::= [100] * [101] DOUBLE_CALL