[1] S ::= [34] EXPRESSION
[2] EXPRESSION ::= [35] ARG

[12, 3] EXPRESSION ::= [62, 36] if [63, 37] TRIPLET_CALL
[13, 4] EXPRESSION ::= [64, 38] foreach [65, 39] DOUBLE_CALL
[14, 5] EXPRESSION ::= [66, 40] equal [67, 41] DOUBLE_CALL
[15, 6] EXPRESSION ::= [68, 42] = [69, 43] DOUBLE_CALL
[16, 7] EXPRESSION ::= [70, 44] > [71, 45] DOUBLE_CALL
[17, 8] EXPRESSION ::= [72, 46] < [73, 47] DOUBLE_CALL
[18, 9] EXPRESSION ::= [74, 48] & [75, 49] DOUBLE_CALL
[19, 10] EXPRESSION ::= [76, 50] | [77, 51] DOUBLE_CALL
[20, 11] EXPRESSION ::= [78, 52] ! [79, 53] SINGLE_CALL
[21, 12] EXPRESSION ::= [80, 54] - [81, 55] DOUBLE_CALL
[22, 13] EXPRESSION ::= [82, 56] + [83, 57] DOUBLE_CALL
[23, 14] EXPRESSION ::= [84, 58] / [85, 59] DOUBLE_CALL
[24, 15] EXPRESSION ::= [86, 60] * [87, 61] DOUBLE_CALL
[25, 16] EXPRESSION ::= [88, 62] FUNCTION_NAME [89, 63] CALL

[9, 17] EXPRESSION ::= [54, 64] resolve [55, 65] RESOLVE_CALL

[3, 18] SINGLE_CALL ::= [36, 66] ( [37, 67] EXPRESSION [38, 68] )
[4, 19] SINGLE_CALL ::= [39, 69] eps
[5, 20] DOUBLE_CALL ::= [40, 70] ( [41, 71] EXPRESSION [42, 72] , [43, 73] EXPRESSION [44, 74] )
[6, 21] DOUBLE_CALL ::= [45, 75] eps
[7, 22] TRIPLET_CALL ::= [46, 76] ( [47, 77] EXPRESSION [48, 78] , [49, 79] EXPRESSION [50, 80] , [51, 81] EXPRESSION [52, 82] )
[8, 23] TRIPLET_CALL ::= [53, 83] eps
[10, 24] RESOLVE_CALL ::= [56, 84] ( [57, 85] FUNCTION_NAME [58, 86] , [59, 87] EXPRESSION [60, 88] )
[11, 25] RESOLVE_CALL ::= [61, 89] eps

[30, 26] CALL ::= [97, 90] ( [98, 91] EXPRESSIONS
[31, 27] CALL ::= [99, 92] eps

[26, 28] EXPRESSIONS ::= [90, 93] EXPRESSION [91, 94] LIST_OF_EXPRESSIONS
[27, 29] EXPRESSIONS ::= [92, 95] )

[28, 30] LIST_OF_EXPRESSIONS ::= [93, 96] , [94, 97] EXPRESSION [95, 98] LIST_OF_EXPRESSIONS
[29, 31] LIST_OF_EXPRESSIONS ::= [96, 99] )

[32] ARG ::= [100] NUMERIC
[33] ARG ::= [101] BOOL
