[1] S ::= [33] EXPRESSION
[2] EXPRESSION ::= [34] ARG
[3] EXPRESSION ::= [35] if [36] TRIPLET_CALL
[4] EXPRESSION ::= [37] foreach [38] DOUBLE_CALL
[5] EXPRESSION ::= [39] equal [40] DOUBLE_CALL
[6] EXPRESSION ::= [41] = [42] DOUBLE_CALL
[7] EXPRESSION ::= [43] > [44] DOUBLE_CALL
[8] EXPRESSION ::= [45] < [46] DOUBLE_CALL
[9] EXPRESSION ::= [47] & [48] DOUBLE_CALL
[10] EXPRESSION ::= [49] | [50] DOUBLE_CALL
[11] EXPRESSION ::= [51] ! [52] SINGLE_CALL
[12] EXPRESSION ::= [53] - [54] DOUBLE_CALL
[13] EXPRESSION ::= [55] + [56] DOUBLE_CALL
[14] EXPRESSION ::= [57] / [58] DOUBLE_CALL
[15] EXPRESSION ::= [59] * [60] DOUBLE_CALL
[16] EXPRESSION ::= [61] resolve [62] RESOLVE_CALL
[17] EXPRESSION ::= [63] FUNCTION_NAME [64] CALL
[18] SINGLE_CALL ::= [65] ( [66] EXPRESSION [67] )
[19] SINGLE_CALL ::= [68] eps
[20] DOUBLE_CALL ::= [69] ( [70] EXPRESSION [71] , [72] EXPRESSION [73] )
[21] DOUBLE_CALL ::= [74] eps
[22] TRIPLET_CALL ::= [75] ( [76] EXPRESSION [77] , [78] EXPRESSION [79] , [80] EXPRESSION [81] )
[23] TRIPLET_CALL ::= [82] eps
[24] RESOLVE_CALL ::= [83] ( [84] FUNCTION_NAME [85] , [86] EXPRESSION [87] )
[25] RESOLVE_CALL ::= [88] eps
[26] CALL ::= [89] ( [90] EXPRESSIONS  [91] )
[27] CALL ::= [92] eps
[28] EXPRESSIONS ::= [93] EXPRESSION [94] LIST_OF_EXPRESSIONS
[29] LIST_OF_EXPRESSIONS ::= [95] eps
[30] LIST_OF_EXPRESSIONS ::= [96] , [97] EXPRESSION [98] LIST_OF_EXPRESSIONS
[31] ARG ::= [99] NUMERIC
[32] ARG ::= [100] BOOL






1: {'S': {33: 'EXPRESSION'
2: {'EXPRESSION': {34: 'ARG'
3: {'EXPRESSION': {35: 'if', 36: 'TRIPLET_CALL'
4: {'EXPRESSION': {37: 'foreach', 38: 'DOUBLE_CALL'
5: {'EXPRESSION': {39: 'equal', 40: 'DOUBLE_CALL'
6: {'EXPRESSION': {41: '=', 42: 'DOUBLE_CALL'
7: {'EXPRESSION': {43: '>', 44: 'DOUBLE_CALL'
8: {'EXPRESSION': {45: '<', 46: 'DOUBLE_CALL'
9: {'EXPRESSION': {47: '&', 48: 'DOUBLE_CALL'
10: {'EXPRESSION': {49: '|', 50: 'DOUBLE_CALL'
11: {'EXPRESSION': {51: '!', 52: 'SINGLE_CALL'
12: {'EXPRESSION': {53: '-', 54: 'DOUBLE_CALL'
13: {'EXPRESSION': {55: '+', 56: 'DOUBLE_CALL'
14: {'EXPRESSION': {57: '/', 58: 'DOUBLE_CALL'
15: {'EXPRESSION': {59: '*', 60: 'DOUBLE_CALL'
16: {'EXPRESSION': {61: 'resolve', 62: 'RESOLVE_CALL'
17: {'EXPRESSION': {63: 'FUNCTION_NAME', 64: 'CALL'
18: {'SINGLE_CALL': {65: '(', 66: 'EXPRESSION', 67: ')'
19: {'SINGLE_CALL': {68: 'eps'
20: {'DOUBLE_CALL': {69: '(', 70: 'EXPRESSION', 71: ',', 72: 'EXPRESSION', 73: ')'
21: {'DOUBLE_CALL': {74: 'eps'
22: {'TRIPLET_CALL': {75: '(', 76: 'EXPRESSION', 77: ',', 78: 'EXPRESSION', 79: ',', 80: 'EXPRESSION', 81: ')'
23: {'TRIPLET_CALL': {82: 'eps'
24: {'RESOLVE_CALL': {83: '(', 84: 'FUNCTION_NAME', 85: ',', 86: 'EXPRESSION', 87: ')'
25: {'RESOLVE_CALL': {88: 'eps'
26: {'CALL': {89: '(', 90: 'EXPRESSIONS', 91: ')'
27: {'CALL': {92: 'eps'
28: {'EXPRESSIONS': {93: 'EXPRESSION', 94: 'LIST_OF_EXPRESSIONS'
29: {'LIST_OF_EXPRESSIONS': {95: 'eps'
30: {'LIST_OF_EXPRESSIONS': {96: ',', 97: 'EXPRESSION', 98: 'LIST_OF_EXPRESSIONS'
31: {'ARG': {99: 'NUMERIC'
32: {'ARG': {100: 'BOOL'}}