S:   EXPRESSION

EXPRESSION:    ARG
EXPRESSION:    FUNCTION_NAME CALL

EXPRESSION:    resolve ( FUNCTION_NAME , EXPRESSION )
RESOLVE_CALL:    ( EXPRESSION , EXPRESSION )
RESOLVE_CALL:    eps


EXPRESSION:    if ( EXPRESSION , EXPRESSION , EXPRESSION )
IF_CALL:    ( EXPRESSION , EXPRESSION )
IF_CALL:    eps


EXPRESSION:    foreach FOREACH_CALL
FOREACH_CALL:    ( EXPRESSION , EXPRESSION )
FOREACH_CALL:    eps


EXPRESSION:    equal EQUAL_CALL
EQUAL_CALL:    ( EXPRESSION , EXPRESSION )
EQUAL_CALL:    eps


EXPRESSION:    = ( EXPRESSION , EXPRESSION )
EXPRESSION:    > ( EXPRESSION , EXPRESSION )
EXPRESSION:    < ( EXPRESSION , EXPRESSION )

EXPRESSION:    & ( EXPRESSION , EXPRESSION )
EXPRESSION:    | ( EXPRESSION , EXPRESSION )

EXPRESSION:    ! ( EXPRESSION )

EXPRESSION:    - ( EXPRESSION , EXPRESSION )
EXPRESSION:    + ( EXPRESSION , EXPRESSION )

EXPRESSION:    / ( EXPRESSION , EXPRESSION )
EXPRESSION:    * ( EXPRESSION , EXPRESSION )

CALL:   ( EXPRESIONS )
CALL:   eps

EXPRESIONS:    EXPRESSION LIST_OF_EXPRESSIONS

LIST_OF_EXPRESSIONS:     , EXPRESSION LIST_OF_EXPRESSIONS
LIST_OF_EXPRESSIONS:    eps

ARG:    INTEGER 
ARG:    BOOL 
ARG:    FUNCTION_NAME
